<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://amircosmosdbserver.documents.azure.com:443" />
        <add key="accountKey" value="Rh9C3g9U5L07SablUialLzczsH1rbLaABiPunCmcDhl9WDlcwOCheRDFA8AfJ25XLn8fF4Kz4X73RVhWxBdZMA==" />
      </appSettings>
</configuration>